<section class="bg-primary">
  <div class="px-8 pt-12" data-aos="fade-up" data-aos-duration="2000">
    <span class="text-8xl font-bold mb-4 text-center w-full"
      >McQueen Concepts</span
    >
  </div>
  <div class="" data-aos="fade-up" data-aos-duration="2000"></div>
  <div class="px-8 mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>Full Stack Mobile Engineer</span>
            <span class="italic font-bold">Flutter Developer</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Available for work</span
          >
        </div>
        <span class="text-secondary">Chicago, IL</span>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      </div>
      <div
        class="w-full h-12 bg-repeat bg-[length:200px_200px] border-1 border-white"
        style="background-image: url('/src/assets/mcqTartan.webp');"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
    </div>
  </div>
</section>
