<section class="bg-primary">
  <div class="px-8 mx-auto pb-12">
    <div
      class="flex flex-col items-start justify-center text-white space-y-6">
      <h2 class="text-3xl font-bold">Connect with me on:</h2>
      <ul class="text-2xl flex flex-wrap gap-10 items-center">
        <!-- GitHub Link -->
        <li>
          <a
            href="https://github.com/mimcqueen"
            target="_blank" 
            rel="noopener noreferrer"
            class="group relative inline-block min-h-[2rem] pl-1"
          >
            <span
              class="block group-hover:hidden transition-opacity duration-300 italic"
              >GitHub</span
            >
            <span
              class="hidden group-hover:block transition-opacity duration-300"
              >Check my code</span
            >
          </a>
        </li>

        <!-- LinkedIn Link -->
        <li>
          <a
            href="https://www.linkedin.com/in/mitchtmcqueen/"
            target="_blank" 
            rel="noopener noreferrer"
            class="group relative inline-block min-h-[2rem] pl-1"
          >
            <span
              class="block group-hover:hidden transition-opacity duration-300 italic"
              >LinkedIn</span
            >
            <span
              class="hidden group-hover:block transition-opacity duration-300"
              >Connect with me</span
            >
          </a>
        </li>

        <!-- Email Link -->
        <li>
          <a
            href="mailto:mcqueenmitch66@gmail.com"
            target="_blank" 
            rel="noopener noreferrer"
            class="group relative inline-block min-h-[2rem] pl-1"
          >
            <span
              class="block group-hover:hidden transition-opacity duration-300 italic"
              >Email</span
            >
            <span
              class="hidden group-hover:block transition-opacity duration-300"
              >Let's talk</span
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
